.landing__links {
  width: inherit;
}

.landing__links a {
  margin: 0 15px;
}

.charcoal-section {
  background-color: var(--charcoal-gray);
  padding: var(--full-padding);
}

.charcoal__title--yellow {
  color: var(--highlight-yellow);
}

.charcoal__title--blue {
  color: var(--highlight-blue);
}

.charcoal-section__list {
  color: var(--white-academy);
  list-style: none;
  margin: 40px 0;
}

.charcoal-section__list li {
  margin: 15px 0;
}

.charcoal-section p {
  color: var(--white-academy);
}

.comunity-parallax {
  background-image: url('../images/cover-images/why-us__cover.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 75vh;
  width: 100%;
}

.admission {
  background-color: #171C20;
  color: var(--white-academy);
  padding: var(--full-padding);
}
.admission picture {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.admission img {
  width: 100%;
}

.financing {
  padding: var(--full-padding);
}

.financing__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.financing__cost {
  background-color: var(--black-academy);
  color: var(--white-academy);
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.financing__inscription {
  flex-grow: 1;
  padding: 10px;
}

.financing__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px 0;
  width: 100%;
}

.financing__card {
  background-color: var(--white-academy);
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  margin: 20px 0;
  text-align: center;
  width: 150px;
}

.financing__card__title {
  border-bottom: 3px solid var(--charcoal-gray);
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.financing__card p {
  margin-bottom: 20px;
}

.landing-comunity {
  display: flex;
  line-height: 30px;
}

.landing-comunity picture {
  display: inline-block;
  margin: 0 20px 20px 0;
  width: 300px;
}

.landing-comunity img {
  width: 100%;
}

.footer-section {
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.footer__seal {
  display: block;
  text-align: center;
  margin:20px 0 -25px 0;
}

.footer__seal img {
  width: 300px;
}

@media all and (max-width: 700px) {
  .landing-comunity {
    flex-wrap: wrap;
  }
}
